.badge {
    position: fixed;
    right: 0%;
    background-color: white;
    padding: 20px;
    line-height: 1.5;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    font-size: 1.7rem;
    font-weight: bold;
}

.info {
    font-size: 1.3rem;
}