.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: no-repeat fixed url('https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    flex: 1;
}